p.f-13
  font-size: 13px
.p-relative
  position: relative  
.text-blue
  color: $color-sistema-texto !important
.centrar-img
  margin: 0 auto
.r-10
  border-radius: 10px

.bg-blanco
  background-color: #FFF  
.bg-azul
  background-color: #C0FEF5   
.bg-azul2
  background-color: #EBF6FF  
.bg-degrade-azul
  background: rgb(0,87,160)
  background: linear-gradient(0deg, rgba(0,87,160,1) 0%, rgba(69,162,236,1) 100%)


.titulo-img p
  border-left: 5px solid #7C0099
  padding: 2px 0px 2px 15px
  width: fit-content
  margin: 0 auto

.cajon-amarillo.cajon.color-primario:before    
  background-color: #F3C178
.cajon-amarillo.cajon.color-primario
  background-color: #F9E0BB
.cajon.color-acento-contenido
  background-color: #DEBFE5  

.texto-destacado-azul
  border: 2px solid #00BDC0  
.tema2-img-absoluta  
  position: inherit
  right: 0%
  width: 570px
  margin-right: -3.4rem
  margin-left: -4rem
  @media screen and (min-width: 1395px)
    width: 600px
    margin-left: -4rem
  @media screen and (max-width: 992px)
    position: inherit





